<!-- USER PROFILE -->
<section class="vh-20" style="background-color: #eee;">
    <div class="container py-5 h-20">

        <div class="row d-flex justify-content-center align-items-center h-20">
            <div class="col-md-12 col-xl-4">

                <div class="card" style="border-radius: 15px;">
                    <div class="card-body text-center">

                        <h3>User Profile</h3>
                        <div class="mt-3 mb-4">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava2-bg.webp"
                                class="rounded-circle img-fluid" style="width: 100px;" />
                        </div>

                        <h5 class="mb-2">Madhumita Jadhav</h5>
                        <p class="text mb-4"> Administrator
                            <span class="mx-2">|</span>
                            <a routerLink="/home">Home.com</a>
                        </p>

                        <div class="mb-4 pb-2">
                            <button id="action" type="button" class="btn btn-sm btn-primary btn-floating">
                                Edit Profile
                            </button>

                            <button id="action" type="button" class="btn btn-sm btn-warning btn-floating">
                                Add Photo
                            </button>

                            <button id="action" type="button" class="btn btn-sm btn-success btn-floating">
                                Messages
                            </button>

                        </div>
                        <button type="button" class="btn  btn-danger btn-rounded">
                            Delete Account
                        </button>
                        <div class="d-flex justify-content-between text-center mt-5 mb-2">
                            <div>
                                <p class="mb-2 h5">8471</p>
                                <p class="text-muted mb-0">Wallets Balance</p>
                            </div>
                            <div class="px-3">
                                <p class="mb-2 h5">8512</p>
                                <p class="text-muted mb-0">Income amounts</p>
                            </div>
                            <div>
                                <p class="mb-2 h5">4751</p>
                                <p class="text-muted mb-0">Total Transactions</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
