<!-- HOME PAGE -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body >
  <!-- <div class="card highlight-card card-small">
    <span id="sys">Employee Management System</span>

  </div> -->
  <div  id="b">
  <span>Employee Management System</span>
  </div>

  <div id="about">
    Employee management is the process by which employers ensure workers perform their jobs to the best of their abilities so as to achieve business goals. It typically entails building and maintaining healthy relationships with employees, as well as monitoring their daily labor and measuring progress. In this way, employers can identify opportunities for improvement and recognize achievements.
  </div>


</body>
</html>













